
<div class="main">
<div class="container">
       <% @sihous.each do |sihou| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= sihou.item %>
      </div>

      <div class="text-content">
        <%= sihou.contents %>
      </div>

      </div>
      <% end %>
</div>
</div>
