<div class="main">
<div class="container">
       <% @tokeis.each do |tokei| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= tokei.item %>
      </div>

      <div class="text-content">
        <%= tokei.contents %>
      </div>

      </div>
      <% end %>
</div>
<div class="container-side">
       <% @litokeis.each do |li_tokei| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= li_tokei.list %>
      </div>

      <div class="text-content">
        <%= li_tokei.list2 %>
      </div>

      </div>
      <% end %>
</div>
</div>
