<div class="main">
<div class="container">
       <% @tokeis.each do |tokei| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= tokei.item %>
      </div>

      <div class="text-content">
        <%= tokei.contents %>
      </div>

      </div>
      <% end %>
</div>
</div>
