
<div class="main">
<div class="container">
       <% @gyouhous.each do |gyouhou| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= gyouhou.item %>
      </div>

      <div class="text-content">
        <%= gyouhou.contents %>
      </div>

      </div>
      <% end %>
</div>
</div>
