<div class="main">
  <div class="container">
    <div class="content">
      <a href="/kenki">
      建築基準法
    </a>
    </div>
    <div class="content">
      <a href="/kenki_rei">
      建築基準法施工令</a>
    </div>
    <div class="content">
      <a href="/kenki_kisoku">
      建築基準法施行規則</a>
    </div>
    <div class="content">
      <a href="/sihou">
      建築士法</a>
    </div>
    <div class="content">
      <a href="/gyouhou">
      建設業法</a>
    </div>
    <div class="content">
      <a href="/syoubou">
      消防法</a>
    </div>
    <div class="content">
      <a href="/tokei">
      都市計画法</a>
    </div>


  </div>
</div>
