<div class="main">
  <div class="top-container">
     <a href="/kenki">
    <div class="content">
       建築基準法
    </div>
    </a>

      <a href="/kenki_rei">
    <div class="content">
      建築基準法施工令
    </div>
    </a>

    <a href="/kenki_kisoku">
    <div class="content">
      建築基準法施行規則
    </div>
     </a>

      <a href="/sihou">
    <div class="content">
      建築士法
    </div>
    </a>

      <a href="/gyouhou">
    <div class="content">
      建設業法
    </div>
    </a>

      <a href="/syoubou">
    <div class="content">
      消防法
    </div>
    </a>

      <a href="/tokei">
    <div class="content">
      都市計画法
    </div>
    </a>

  </div>
</div>
