<div class="main">
<div class="container">
       <% @kenkikisokus.each do |kenki_kisoku| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= kenki_kisoku.item %>
      </div>

      <div class="text-content">
        <%= kenki_kisoku.contents %>
      </div>

      </div>
      <% end %>
</div>

<div class="container-side">
       <% @likenkikisokus.each do |li_kenki_kisoku| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= li_kenki_kisoku.list %>
      </div>

      <div class="text-content">
        <%= li_kenki_kisoku.list2 %>
      </div>

      </div>
      <% end %>
</div>
</div>
