


<div class="main">
    <div class="container">
       <% @kenkireis.each do |kenki_rei| %>

    <div class="text-index-item">
      <div class="text-item">
      <%= kenki_rei.item %>
      </div>

      <div class="text-content">
        <%= kenki_rei.contents %>
      </div>

      </div>
      <% end %>

  </div>
</div>
