.container {
  max-width: 70%;
  margin: 30px;
  padding-left: 15px;
  padding-right: 15px;
  float:left;
}

.container-side{
    max-width: 30%;
    margin: 30px;
    padding-left: 15px;
    padding-right: 15px;
    float:left;
}



/* text/index ================================ */
.text-index-item {
  padding: 5px 10px 10px 10px;
  background-color: white;
  overflow: hidden;
  box-shadow:  0 3px 2px #c1ced7;
  width:100%;
  float:left;

}

.text-item {
  float: left;

}

.text-item2 {
  float: left;
  width: 88%;
  padding-left: 25px;
  text-align: left;
}

.text-content{
  float: left;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}

.text-link{
  float: right;
  width: 35%;
  padding-left: 25px;
  text-align: left;
}

