/* graf ================================ */

.graf-container{

    padding:5px;

}

.graf-index-item{




}

.graf-text-item{

     padding:5px;
     margin:5px;


}

.graf-text-content{
    padding:4px;



}


.graf-text-link{

}

.graf-box{
  color:red;
 padding:4px;
 font-size:14px;


}
